*{
    margin: 0;
    padding: 0;
}
body{
    background: url('briga.png');
    display: table;
    width: 100%;
    height: 100vh;
    background-position: 30% 45%;
    background-size: cover;
}

footer, .contexto {
	background-color: rgba(35, 42, 49, 0.3);
	padding: 20px;
	text-align: center;
	margin: 10px;
    font-size:22px;
    color:#080b07;
    line-height:30px;
    border-radius: none;
}
.contexto::before{
    content: "";
    position: absolute;
    width: 40px;
    left:10px;
    bottom: 68;
}

.btn-proximo{
    padding: 5px;
    font-family: Arial;
    font-size: 18px;
}
.btn-proximo{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all linear 190ms;
    font-size: 0.9em;
    color: black;
    margin-bottom: 0px;
}

.btn-proximo::placeholder{
    color:#666;
}

.btn-proximo:focus {
    border-color: blue;
}

.btn-proximo{
    padding: 15px;
    color: #000000;
    font-weight: 600;
    border: none;
    margin-top: 20px;
    border-radius: 7px;
    background-color: rgba(222, 228, 236, 0.6);
    cursor: pointer;
    transform: all linear 198ms;
}
.btn-proximo:hover{
    transform: scale(1.05);
    background-color: rgb(94, 200, 82);
}
button{
    margin: 10px;
}
